.equipo {
  &--images {
    display: block;
    width: 80%;
    padding-top: 20px;
    margin-right: 10%;;
    margin-left: 10%;

    @mixin atMedium {
      width: 100%;

    }

    &-ponce {
      padding-top: 40px;
    }

    @mixin atMedium {
      width: 80%;
      margin-left: 10%;

    }
  }

  &--bios {
    @mixin atMedium {
      width: 80%;
      margin-left: 10%;
    }
  }

}
