.generic-content-container {
	width: 75%;

	h1{
		text-align: center;
	}

	p {
		font-family: 'Special Elite', cursive;
		font-weight: 100;
		line-height: 1rem;
		text-align: center;
		margin: 0 0 1.8rem 0;

		@mixin atMedium {
			font-weight: 100;
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
	}

	p a {
		font-weight: 100;
	}

&--awards {
					background-color: $mainRed;
					height: 30px;

					@mixin atMedium{
						height: 50px;
					}

					h2 {
						font-family: 'Special Elite',cursive;
						font-size: .80rem;
						text-align: center;
						margin: 0;
						color: #fff;
						padding-top: .6rem;

						@mixin atMedium {
							font-size: 1.5rem;
							padding-top: 1rem;
						}
					}

			}
}
