.page-section {
	padding-bottom: 20px;
	background-color: #000;

	@mixin atMedium {
	padding: 0;
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 0;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 0;
		}
	}

	&--featured {
		padding-bottom: 1.2rem;
		background-color: #000;
		color: #fff;

		@mixin atMedium {
			height: auto;
			padding-bottom: 3%;
		}
	}

	&--about-us{
		background-color: #000;
		padding-top: .2rem;
		padding-bottom: 0;

		h1{
			font-family: 'Special Elite', cursive;
		}

			@mixin atMedium{
				padding-top: 2rem;
				padding-bottom: 2rem;
				overflow: hidden;
			}
	}
	&--map {
		background-color: #000;
		padding-top: 2rem;

		.find-us {
			@mixin atMedium{
			width: 50%;
			float: left;
			}
		}

		@mixin atMedium {
		}

	}

	&--menus {
		background-color: $mainGreen;
	}

	&--bebidas {
		background-color: #000;
		text-align: center;

		p.disc {
			font-size: .7rem;
			color: #fff;
			display: inline;

			@mixin atMedium {
				font-size: 1rem;
			}

		}

		p.star {
			font-size: .7rem;
			color: $mainRed;
			display: inline;
		}

		ul.beer {
			font-size: 1rem;
			color: #fff;
			list-style: none;
		}

		ul.beer li {
			font-size: .7rem;
			width: 75%;
			margin-left: 0%;

			@mixin atMedium {
			font-size: .9rem;
			width: 20%;
			margin-left: 38%;
		}
		}

		li p {
			font-size: 1rem;
		}
	}

	&-equipo {
		font-family: 'Special Elite',cursive;
		background-color: #282828;
		color: #fff;
		text-align: center;
		padding-bottom: 30px;

		@mixin atMedium {
		padding-left: 50px;
		padding-right: 50px;
	}

		h1 {
			font-size: 2rem;
			line-height: .5rem;
			margin-bottom: 10px;
		}

		h2 {
			font-size: 1rem;
			line-height: .5rem;
			margin-top: 1px;
		}

		p {
			padding-left: 20px;
			padding-right: 20px;
		}

		hr {
			width: 90%;
			margin-bottom: 20px;
			margin-top: 20px;
			border-color: $mainRed;

			@mixin atMedium {
			width: 80%;
		}

		}
	}
}
